body {
	padding: 0;
	margin: 0;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
.sections {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
	height: max-content;
    background-color: #ffffff;
}
.containers {
	position: relative;
	margin-top: 65px;
}
.inner-container {
	position: relative;
	padding-right: 8%;
	padding-left: 8%;
	margin-top: -90px;
}

.containers img {
	display: block;
	width: 100%;
}
/*========================NAv BAr=============*/
nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0 5%;
	height: 65px;
	background-color: #ffffff;
}

nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
	color: #fff;
}
/* nav .logo img{
  width: 200px;
  height: 100px;
} */
nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 1em;
	font-size: 14px;
	font-weight: bolder ;
	color: rgb(0, 0, 0);
	text-decoration: none;
}

nav .links a:hover {
	color: #EF4978;
	transition: .3s;
}
#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: rgb(0, 0, 0);
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}

/*==============Nav Bar end=========*/

.header-bg-img {
    background:url(../images/home-bg.png);
    position: relative;
    background-position:center;
	background-size: cover;
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
}

.clipart {
    /* background:url(../images/home-clip.png); */
		width: 400px;
		height: 400px;
		margin-left: 50px;
		object-fit: contain;
	
}

.parallax-window {
    background: transparent;
	background-size: cover;
	width: 100%;
	height: 70vh;
	background-repeat: no-repeat;
}
.header-content{
	margin-top: 150px;
	font-size: 50px;
	font-weight: 700;
	justify-content: left;
}
.header-content h1{
	font-family: 'Montserrat', sans-serif;
	justify-content: left;
}

.heading{
	font-weight: 700;
	font-size: 50px;
	color: #EF4B79;
}
.sub-heading{
	font-weight: 500;
	font-size: 36px;
	color: #EF4B79;
	
}

/*=========================home about===================*/
.about{
	width: 100%;
	height: max-content;
	border-radius: 50px;
	background: url(../images/home-abou-bg-lines.png) no-repeat 50% 50%;
	background-size: cover;
}
.about p{
	font-size: 25px;
}
.about a{
	color: #EF4B79;
	font-weight: normal;
	font-size: 25px;
}
.mob{
	display: none;
}
.large{
	display: block;
	padding: 50px;
}
.large img{
	float:left;
	position: relative;
}


.join-us{
	border-radius: 40px;
	font-weight: bold;
	padding: .7em 2em;
	background: rgb(239,75,121);
background: linear-gradient(242deg, rgba(239,75,121,1) 0%, rgba(255,145,176,1) 100%);
border: none;
}


/*=================CARD+++++++++++++++++++++++++++++++*/
.main{

	margin: 2%;
   }
   
   .card{
		width: 80%;
		height: auto;
		display: inline-block;
		box-shadow: 1px 1px 10px black;
		border-radius: 5px; 
		margin: 2%;
	   }
   
   .image img{
	 width: 100%;
	 height: auto;
	 border-top-right-radius: 5px;
	 border-top-left-radius: 5px;
	}
   
   .title{
	
	 text-align: center;
	 padding: 10px;
	 
	}
   
   h1{
	 font-size: 20px;
	}
   
   .des{
	 padding: 3px;
	 text-align: center;
	
	 padding-top: 10px;
		   border-bottom-right-radius: 5px;
	 border-bottom-left-radius: 5px;
   }
   button{
	 margin-top: 40px;
	 margin-bottom: 10px;
	 background-color: white;
	 border: 1px solid black;
	 border-radius: 5px;
	 padding:10px;
   }
   button:hover{
	 background-color: black;
	 color: white;
	 transition: .5s;
	 cursor: pointer;
   }

   

/* ================REsponsive********************* */

@media screen and (max-width: 768px) {
	nav .logo {
		float: none;
		width: auto;
		justify-content: center;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 65px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(255, 255, 255, 0.945);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
	.header-bg-img {
        clip-path: none;
        padding: 120px 0 140px;
    }
	.containers {
        width: 100%;
		
    }
	.clipart{
		margin-left: 0px;
		margin-bottom: 40px;
		width: 250px;
		height: 250px;
		object-fit: contain;
	}

	.header-content{
		margin-top: 150px;
		font-size: 30px;
		font-weight: 700;
		text-align: center;
	}
	.header-content h1{
		font-family: 'Montserrat', sans-serif;
		justify-content: center;
		text-align: center;
	}

	.header-content{
		margin-top: 0px;
	}
	.heading{
		font-weight: 700;
		font-size: 35px;
		color: #EF4B79;
	}
	.about{
		width: 100%;
		height: max-content;
		border-radius: 25px;
		background: url(../images/home-about-bg.png) no-repeat ;
		background-size: cover;
	}
	
	.mob{
		display: block;
		padding: 40px;
	}
	.large{
		display: none;
	}
	
	.card{
		width: 80%;
		height: auto;
		display: inline-block;
		box-shadow: 0px 0px 10px black;
		border-radius: 5px; 
		margin: 2%;
	   }
   
}
